{% extends "::base.html.twig" %}

{% block main %}

    <h1>Contact</h1>

    {% if app.session.flashbag.has('contact_thanks') %}
        {% for flashMessage in app.session.flashbag.get('contact_thanks') %}
            <div class="alert alert-dismissable alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <p>{{ flashMessage }}</p>
            </div>
        {% endfor %}

        <h3>Why not...</h3>
        <ul>
            <li>Upload a picture of a Mini, either your own Mini or one you have seen out and about, to the Galleries
                page
            </li>
            <li>Follow us on the social media channels below</li>
        </ul>

        <p><a href="https://twitter.com/ayrshireminis" class="twitter-follow-button" data-show-count="true"
              data-size="large">Follow @ayrshireminis</a>
            <script>!function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                    if (!d.getElementById(id)) {
                        js = d.createElement(s);
                        js.id = id;
                        js.src = p + '://platform.twitter.com/widgets.js';
                        fjs.parentNode.insertBefore(js, fjs);
                    }
                }(document, 'script', 'twitter-wjs');</script>
        </p>

        <p>
            <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FAyrshire-Minis%2F160330240663397&amp;width&amp;height=62&amp;colorscheme=light&amp;show_faces=false&amp;header=true&amp;stream=false&amp;show_border=true"
                    scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:62px;"
                    allowTransparency="false"></iframe>
        </p>
    {% else %}

        <p>Please use the contact form below if you want to drop us a line. We will respond to your message withing 24
            hours.</p>
        <p>You can also get in touch via the social media channels.</p>

        <div class="row">
            <div class="col-lg-6">
                <form action="{{ path("ayrshireminis_submit_contact") }}" method="post" class="form-horizontal">
                    <fieldset>
                        {{ form_widget(form) }}
                        <br/>

                        <p>
                            <button type="submit" class="btn btn-primary">Send Message</button>
                        </p>
                    </fieldset>
                </form>
            </div>
            <div id="map-container" class="col-md-4 col-lg-offset-1"></div>
            <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
        </div>

    {% endif %}

    {% include 'partials/adsense.html.twig' %}

{% endblock %}