{% extends "::base.html.twig" %}

{% block body %}
{#{% if app.session.getFlash('contact_thanks', false)  %}#}
    {#<p>{{ app.session.getFlash('contact_thanks') }}</p>#}
{#{% else %}#}
    <form action="{{path("ayrshireminis_submit_contact")}}" method="post">
        {{ form_widget(form) }}
        <p>
            <button type="submit">Send Message</button>
        </p>
    </form>
{#{% endif %}#}

{% endblock %}