<footer>
    <div class="row">
        <div class="col-lg-12">
            <ul class="list-unstyled">
                <li class="pull-right back_to_top"><a href="#top">Back to top</a></li>
                <li><a href="https://www.facebook.com/pages/Ayrshire-Minis/160330240663397" target="_blank">Facebook</a>
                </li>
                <li><a href="https://twitter.com/ayrshireminis" target="_blank">Twitter</a></li>
                <li><a href="https://myspace.com/ayrshireminis" target="_blank">MySpace</a></li>
                <li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=R9VBHMB8QWM3E"
                       target="_blank">Donate</a>
                </li>
            </ul>
            <p>site by <a rel="nofollow" href="http://www.crmpicco.co.uk/?refer=ayrshireminis" target="_blank">Craig R Morton</a>
            <small class="pull-right copyright">Copyright &copy; {{ 'now'|date('Y') }}</small>
            </p>

        </div>
    </div>
</footer>
{% include "GoogleBundle:Analytics:async.html.twig" %}
