{% extends "::base.html.twig" %}

{% block main %}

    <div class="hidden" id="page_heading" data-page-heading="gallery"></div>

    <h2>Add to the Gallery</h2>

    {% if app.session.flashbag.has('gallery_thanks') %}

        {% for flashMessage in app.session.flashbag.get('gallery_thanks') %}
            <div class="alert alert-dismissable alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <p>{{ flashMessage }}</p>
            </div>
        {% endfor %}

        <p>
            All images submitted to the gallery are approved by the moderator before they are shown live on the website.
        </p>
        <p>
            The moderator has been emailed to alert them that a new image has been submitted and will review the submission shortly.
        </p>

    {% else %}

        <p>Enter your information about your Mini or a Mini that you have spotted out and about and it will be uploaded
            to
            the website and
            viewable by others in the gallery (pending approval). As it is a Mini-based site, please only upload images
            of
            Minis.</p>

        <div class="row">
            <div class="col-lg-6">
                <form action="{{ path("ayrshireminis_gallery_submit") }}" {{ form_enctype(form) }} method="post"
                      class="form-horizontal">
                    <fieldset>
                        {{ form_widget(form) }}
                        <br/>

                        <p>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </p>
                    </fieldset>
                </form>
            </div>

            <div class="col-lg-4 col-lg-offset-1">

                <img src="http://i26.photobucket.com/albums/c103/crmpicco/T925%20ARO/DSCF0323.jpg" width="400"
                     height="300"/>

            </div>
        </div>

    {% endif %}

{% endblock %}