{% extends "::base.html.twig" %}

{% block main %}

    <p>Gallery</p>

    <a href="/app_dev.php/gallery/add">
        <button class="btn btn-primary" type="button">Add a Mini to the Gallery</button>
    </a>

{% endblock %}