<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="keywords"
          content="ayrshire minis, ayrshire mini, ayrshire, mini, cooper, rover, clubman, bmw, ayr, mauchline, kilmarnock, chat, forum, gallery, english, new mini, mini cooper, contact us, links">
    <meta name="description" content="a place for Mini enthusiasts to meet and discuss about all things Mini">
    <meta name="revisit-after" content="14 days">
    <meta name="robots" content="all">
    <meta name="Author" content="Craig Richard Morton">
    <meta name="Copyright" content="AyrshireMinis.com 2007">

    <title>{% block title %}Ayrshire Minis - an online Mini E-Community Forum for enthusiasts of the Mini{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ asset('css/superhero.css') }}" type="text/css" rel="stylesheet">

</head>
<body>

{% block header %}
    {% include 'partials/header.html.twig' %}
{% endblock %}

<div class="container">
    {% block main %}{% endblock %}
</div>

{% block footer %}
    {% include 'partials/footer.html.twig' %}
{% endblock %}

</body>
</html>