{% extends "::base.html.twig" %}

{% block main %}

    <div class="hidden" id="page_heading" data-page-heading="about"></div>

    <p>I started Ayrshire Minis in September 2007 as a personal project to help me learn the PHP programming language
        and also to hopefully create an online community for Mini owners in Ayrshire.</p>

    <p>The idea behind the site is to create a friendly corner of the internet where you can meet fellow Mini/MINI
        owners and chat about the UK's favourite small car. If you would like to upload an image or your Mini or send us
        a link to an image you have seen online, there is a online Gallery section.</p>

    {% include 'partials/adsense.html.twig' %}

{% endblock %}



