{% extends "::base.html.twig" %}

{% block main %}

    <div class="hidden" id="page_heading" data-page-heading="about"></div>

    <p>I started Ayrshire Minis in September 2007 as a personal project to help me learn the PHP programming language
        and also to hopefully create an online community for Mini owners in Ayrshire.</p>

    <p>The idea behind the site is to create a friendly corner of the internet where you can meet fellow Mini/MINI
        owners and chat about the UK's favourite small car. If you would like to upload an image of your Mini or a Mini
        you have seen, there is a <a href="{{ url('ayrshireminis_gallery_homepage') }}">Gallery section</a>.</p>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">AyrshireMinis Forum</h3>
        </div>
        <div class="panel-body">
            The forum will return to the site soon. I will be migrating the forum software from PHPBB2 to PHPBB3
            shortly.
        </div>
    </div>

    {% include 'partials/adsense.html.twig' %}

{% endblock %}



