{% extends "::base.html.twig" %}

{% block header %}
    <nav>Nav in here</nav>
{% endblock %}

{% block main %}
    We're on the homepage, yo.
{% endblock %}

{% block footer %}
    <footer>Footer in here and shizzle</footer>
{% endblock %}



