{% extends "::base.html.twig" %}

{% block main %}

    {% if app.session.flashbag.has('subscribe_thanks') %}
        {% for flashMessage in app.session.flashbag.get('subscribe_thanks') %}
            <div class="alert alert-dismissable alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <p>{{ flashMessage }}</p>
            </div>
        {% endfor %}
    {% endif %}

    {% if app.session.flashbag.has('subscribe_error') %}
        {% for flashMessage in app.session.flashbag.get('subscribe_error') %}
            <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <p>{{ flashMessage }}</p>
            </div>
        {% endfor %}
    {% endif %}

    <div class="hidden" id="page_heading" data-page-heading="welcome"></div>

    <div class="row">
        <div class="col-md-8">
            <p>Welcome to a new e-community for Ayrshire Mini enthusiasts or owners. Whether you have a Classic Mini
                or a New Mini - everyone is very welcome.</p>

            <p>I started this website, in September 2007, as a personal project. The basis of the site is to be a
                friendly area where you could meet fellow Mini/MINI owners and chat about the UK's favourite small
                car. If you would like to upload an image or your Mini or send us a link to an image you have seen
                online, there is a online Gallery section.</p>

            <p>If you have any comments or suggestions please use the Contact page to get in touch</p>

            <p>All The Best,<br>
                <strong>Craig @ Ayrshire Minis</strong></p>
        </div>
        <div class="col-md-4">
            <div class="thumbnail center well well-small text-center">
                <p>Subscribe for free to get the latest Mini news.</p>

                <form action="{{ path("ayrshireminis_subscribe") }}" data-redirect-url="{{ url('ayrshireminis_common_default_index') }}" method="post" id="submit_form">
                    <div class="input-prepend"><span class="add-on"><i class="icon-envelope"></i></span>
                        <input type="text" id="email" name="email" placeholder="alec@issigonis.com">
                    </div>
                    <br/>
                    <input type="submit" value="Join!" class="btn btn-primary"/>
                </form>
            </div>
        </div>
    </div>


    {% include 'partials/adsense.html.twig' %}

{% endblock %}