{% extends "::base.html.twig" %}

{% block main %}

    <div class="jumbotron">
        <h1>Ayrshire Minis</h1>
        <p>Welcome.</p>
        <p><a class="btn btn-primary btn-lg">Learn more</a></p>
    </div>

    <p>Welcome to a new e-community for Ayrshire Mini enthusiasts or owners. Whether you have a Classic Mini or a New Mini - everyone is very welcome.</p>

    <p>I started this website, in September 2007, as a personal project. The basis of the site is to be a friendly area where you could meet fellow Mini/MINI owners and chat about the UK's favourite small car. If you would like to upload an image or your Mini or send us a link to an image you have seen online, there is a online Gallery section.</p>

    <p>If you have any comments or suggestions please use the Contact page to get in touch</p>

    <p>All The Best,<br>
        <strong>Picco @ Ayrshire Minis</strong></p>

    {% include 'partials/adsense.html.twig' %}

{% endblock %}



