{% extends "::base.html.twig" %}

{% block main %}

    <div class="jumbotron">
        <h1>Ayrshire Minis</h1>
        <p>Welcome.</p>
        <p><a class="btn btn-primary btn-lg">Learn more</a></p>
    </div>

{% endblock %}



