.hero {
    /*background: url('/images/blue_1999.jpg') no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*height: 400px;*/
}
body {
    padding-top: 0 !important;
    margin-top: 0 !important;
}