.hero {
    -webkit-background-size : cover;
    -moz-background-size    : cover;
    -o-background-size      : cover;
    background-size         : cover;
}

body {
    padding-top : 0 !important;
    margin-top  : 0 !important;
}

#map-outer {
    height           : 440px;
    padding          : 20px;
    border           : 2px solid #cccccc;
    margin-bottom    : 20px;
    background-color : #ffffff
}

#map-container {
    height : 400px
}